# Introduction

## Improting required libraries

In [1]:
# Core libraries for data manipulation
import numpy as np            # For numerical operations
import pandas as pd           # For structured data (DataFrame) manipulation

# Regular expressions for pattern matching
import re

# Visualization libraries
import matplotlib.pyplot as plt   # For basic plotting
import seaborn as sns             # For statistical plots and visual styles

# Dask for out-of-core and parallel data processing (large datasets)
import dask.dataframe as dd

# Glob for file path matching (e.g., loading multiple CSV files at once)
import glob

## Code to check and review each CSV

In [2]:
def eval_df(dataframe):
    """
    Evaluate the structure and quality of a pandas DataFrame.
    
    This function prints:
    - Data types and memory usage
    - Columns with missing values
    - Count of duplicate rows
    - Summary statistics (numeric and categorical)
    
    Parameters:
    -----------
    dataframe : pd.DataFrame
        The DataFrame to evaluate.
    """
    # Display data types and basic memory usage
    print("\nüîç DATA TYPES & MEMORY USAGE")
    print("-" * 40)
    print(dataframe.info())

    # Check and display missing values per column
    print("\nüß© MISSING VALUES PER COLUMN")
    print("-" * 40)
    missing_values = dataframe.isnull().sum()
    print(missing_values[missing_values > 0])

    # Check for duplicate rows
    duplicates = dataframe.duplicated().sum()
    print("\nüóÉÔ∏è DUPLICATE ROWS FOUND")
    print("-" * 40)
    print(f"{duplicates} duplicate rows found.")

    # Display summary statistics (for both numeric and object types)
    print("\nüìä SUMMARY STATISTICS")
    print("-" * 40)
    print(dataframe.describe())

## Get the sample countries  
- this would include those that have mobility data, policy data, covid data and country statistics data

In [3]:
# To get a common code for the countries I would use the ISO 3166-1 alpha-3
# Load country and country code reference data
COUNTRY_CODE = pd.read_csv("data/country_codes.csv")

# Preview the first few rows
COUNTRY_CODE.head()

   id alpha2 alpha3           en
0   4     af    afg  Afghanistan
1   8     al    alb      Albania
2  12     dz    dza      Algeria
3  20     ad    and      Andorra
4  24     ao    ago       Angola

In [4]:
# Capitalise all codes in alpha2 and alpha3
COUNTRY_CODE['alpha2'] = COUNTRY_CODE['alpha2'].str.upper()
COUNTRY_CODE['alpha3'] = COUNTRY_CODE['alpha3'].str.upper()

In [5]:
COUNTRY_CODE = COUNTRY_CODE.rename(columns = {
    'alpha2': 'code2',
    'alpha3' : 'Code',
    'en' : 'Country'
})

### Get the mobility data

In [6]:
# Columns to include (mobility trends + region info + date)
usecols = [
    "country_region_code", 
    "country_region", 
    "sub_region_1", 
    "sub_region_2", 
    "metro_area",
    "date", 
    "retail_and_recreation_percent_change_from_baseline",
    "grocery_and_pharmacy_percent_change_from_baseline",
    "parks_percent_change_from_baseline",
    "transit_stations_percent_change_from_baseline",
    "workplaces_percent_change_from_baseline",
    "residential_percent_change_from_baseline"
]

# Explicit dtypes to avoid Dask inference issues
dtype_fix = {
    'sub_region_1': 'object',
    'sub_region_2': 'object',
    'metro_area': 'object',
}

# Load the dataset with parsing and type fixes
df = dd.read_csv(
    'data/global_mobility_report.csv',
    usecols=usecols,
    dtype=dtype_fix,
    parse_dates=['date'],
    assume_missing=True
)

# Filter: only country-level data + dates up to the end of 2022
missing_cols = ['sub_region_1', 'sub_region_2', 'metro_area']
filtered = df[
    df[missing_cols].isnull().all(axis=1) &
    (df['date'] <= '2022-12-31')
]

# Safely preview the filtered result
print(filtered.sample(frac = 0.0001, random_state = 1).compute())

       country_region_code country_region sub_region_1 sub_region_2  \
18274                   AR      Argentina         <NA>         <NA>
456350                  BJ          Benin         <NA>         <NA>
109303                  CL          Chile         <NA>         <NA>
497226                  FR         France         <NA>         <NA>
19372                   GT      Guatemala         <NA>         <NA>
160328                  LI  Liechtenstein         <NA>         <NA>
91450                   KG     Kyrgyzstan         <NA>         <NA>
268085                  ML           Mali         <NA>         <NA>
480291                  NP          Nepal         <NA>         <NA>
533080                  RW         Rwanda         <NA>         <NA>
450650                  TJ     Tajikistan         <NA>         <NA>
532980                  US  United States         <NA>         <NA>
410679                  UY        Uruguay         <NA>         <NA>

       metro_area       date  \
18274        <NA> 2020-11-28
456350       <NA> 2022-02-22
109303       <NA> 2022-03-22
497226       <NA> 2020-08-08
19372        <NA> 2021-08-02
160328       <NA> 2021-06-06
91450        <NA> 2021-07-08
268085       <NA> 2021-10-05
480291       <NA> 2021-07-08
533080       <NA> 2020-08-13
450650       <NA> 2020-04-29
532980       <NA> 2021-01-03
410679       <NA> 2021-10-12

        retail_and_recreation_percent_change_from_baseline  \
18274                                               -44.0
456350                                               38.0
109303                                               -6.0
497226                                              -22.0
19372                                                -6.0
160328                                                NaN
91450                                               -19.0
268085                                               43.0
480291                                              -11.0
533080                                              -14.0
450650                                              -32.0
532980                                              -27.0
410679                                              -15.0

        grocery_and_pharmacy_percent_change_from_baseline  \
18274                                               -11.0
456350                                              113.0
109303                                               19.0
497226                                               -7.0
19372                                                17.0
160328                                                NaN
91450                                                -4.0
268085                                               86.0
480291                                               33.0
533080                                              -12.0
450650                                              -20.0
532980                                              -16.0
410679                                                4.0

        parks_percent_change_from_baseline  \
18274                                -65.0
456350                               156.0
109303                               -11.0
497226                               155.0
19372                                 -9.0
160328                                 NaN
91450                                 -4.0
268085                               114.0
480291                                 3.0
533080                                 3.0
450650                               -22.0
532980                               -24.0
410679                               -39.0

        transit_stations_percent_change_from_baseline  \
18274                                           -38.0
456350                                           -4.0
109303                                           13.0
497226                                            2.0
19372                                           -21.0
160328                                          -52.0
91450                                            -5.0
268085                                           62.0
480291                                           -3.0
533080                                           -9.0
450650                                          -37.0
532980                                          -33.0
410679                                            0.0

        workplaces_percent_change_from_baseline  \
18274                                      -5.0
456350                                     35.0
109303                                     32.0
497226                                    -14.0
19372                                     -18.0
160328                                      NaN
91450                                     -44.0
268085                                      3.0
480291                                    -21.0
533080                                    -25.0
450650                                    -12.0
532980                                    -17.0
410679                                     23.0

        residential_percent_change_from_baseline
18274                                       11.0
456350                                       6.0
109303                                       5.0
497226                                      -2.0
19372                                        7.0
160328                                       NaN
91450                                       -6.0
268085                                     -11.0
480291                                       8.0
533080                                       9.0
450650                                       8.0
532980                                       7.0
410679                                       1.0

In [7]:


# --- New Code to Check Latest Date per Country ---
# Group by country and find the maximum (latest) date for each
latest_dates = filtered.groupby('country_region')['date'].max()

# Compute the result (this triggers the Dask computation)
latest_dates_computed = latest_dates.compute()

# Optional: Sort the results by date to see which countries have the most recent data
print("\n--- Latest Date per Country (Sorted) ---")
print(latest_dates_computed.sort_values(ascending=False))

--- Latest Date per Country (Sorted) ---
country_region
Cambodia     2022-10-15
Sri Lanka    2022-10-15
Slovakia     2022-10-15
Singapore    2022-10-15
Senegal      2022-10-15
                ...
Benin        2022-10-15
Barbados     2022-10-15
Bangladesh   2022-10-15
Australia    2022-10-15
Ukraine      2022-02-23
Name: date, Length: 135, dtype: datetime64[ns]

In [8]:
# --- New Code to Check Latest Date per Country ---
# Group by country and find the maximum (latest) date for each
latest_dates = filtered.groupby('country_region')['date'].min()

# Compute the result (this triggers the Dask computation)
latest_dates_computed = latest_dates.compute()

# Optional: Sort the results by date to see which countries have the most recent data
print("\n--- Earliest Date per Country (Sorted) ---")
print(latest_dates_computed.sort_values(ascending=False))

--- Earliest Date per Country (Sorted) ---
country_region
Cambodia              2020-02-15
Panama                2020-02-15
Trinidad and Tobago   2020-02-15
Slovakia              2020-02-15
Singapore             2020-02-15
                         ...
Brazil                2020-02-15
Benin                 2020-02-15
Barbados              2020-02-15
Bangladesh            2020-02-15
Jordan                2020-02-15
Name: date, Length: 135, dtype: datetime64[ns]

In [9]:
# I woul like to get what happened in the first two years of the pandemic
filtered = filtered[
    filtered['date'] <= '2022-02-15'
]

In [10]:
print(filtered.sample(frac = 0.0001, random_state = 1).compute())

       country_region_code      country_region sub_region_1 sub_region_2  \
35060                   AU           Australia         <NA>         <NA>
177745                  CM            Cameroon         <NA>         <NA>
157822                  DO  Dominican Republic         <NA>         <NA>
212703                  HU             Hungary         <NA>         <NA>
130970                  LB             Lebanon         <NA>         <NA>
266250                  MD             Moldova         <NA>         <NA>
58358                   PT            Portugal         <NA>         <NA>
431777                  SV         El Salvador         <NA>         <NA>
430657                  VE           Venezuela         <NA>         <NA>

       metro_area       date  \
35060        <NA> 2021-10-18
177745       <NA> 2021-06-21
157822       <NA> 2020-12-05
212703       <NA> 2021-12-07
130970       <NA> 2020-07-17
266250       <NA> 2022-01-26
58358        <NA> 2020-08-17
431777       <NA> 2020-05-17
430657       <NA> 2020-12-23

        retail_and_recreation_percent_change_from_baseline  \
35060                                               -15.0
177745                                                6.0
157822                                              -29.0
212703                                                7.0
130970                                              -10.0
266250                                              -14.0
58358                                                -1.0
431777                                              -82.0
430657                                                6.0

        grocery_and_pharmacy_percent_change_from_baseline  \
35060                                                 6.0
177745                                               33.0
157822                                               -4.0
212703                                               24.0
130970                                                4.0
266250                                                3.0
58358                                                12.0
431777                                              -65.0
430657                                               44.0

        parks_percent_change_from_baseline  \
35060                                -17.0
177745                               -11.0
157822                               -32.0
212703                                22.0
130970                                28.0
266250                               -29.0
58358                                 93.0
431777                               -74.0
430657                                 9.0

        transit_stations_percent_change_from_baseline  \
35060                                           -53.0
177745                                           35.0
157822                                          -23.0
212703                                           -9.0
130970                                          -42.0
266250                                          -19.0
58358                                           -35.0
431777                                          -76.0
430657                                           19.0

        workplaces_percent_change_from_baseline  \
35060                                     -18.0
177745                                    -12.0
157822                                    -17.0
212703                                    -12.0
130970                                    -23.0
266250                                    -32.0
58358                                     -44.0
431777                                    -48.0
430657                                    -20.0

        residential_percent_change_from_baseline
35060                                        9.0
177745                                      -2.0
157822                                       8.0
212703                                       5.0
130970                                       1.0
266250                                       1.0
58358                                       11.0
431777                                      23.0
430657                                       9.0

In [11]:

# rename country_region_code and country_region
filtered = filtered.rename(columns = {
    'country_region_code' : 'code2',
    'country_region' : 'Country'
})

In [12]:
# get a dataframe for the unique countries in the mobility data
countries_in_mob = filtered[['code2', 'Country']].drop_duplicates().compute()
countries_in_mob

       code2                 Country
308409    BA  Bosnia and Herzegovina
547709    JO                  Jordan
161748    LT               Lithuania
222006    LU              Luxembourg
253027    LY                   Libya
...      ...                     ...
53823     KE                   Kenya
317749    MY                Malaysia
578462    NL             Netherlands
242319    PY                Paraguay
504341    ZM                  Zambia

[135 rows x 2 columns]

In [13]:
# check if there are missing
countries_in_mob[countries_in_mob['code2'].isna()]

       code2  Country
355842  <NA>  Namibia

Python has read NA code for Nambia as an empty cell

In [14]:
# Create the condition
condition = (filtered['Country'] == 'Namibia') & (filtered['code2'].isna())

# Use .where to replace values where the condition is False
# This means: keep 'code2' where condition is False, otherwise use 'NA'
# Note: .where keeps the original where the condition is FALSE, and replaces where it's TRUE
# So we need to negate the condition for .where, or use .mask
# .mask is the opposite of .where: it replaces where the condition is TRUE
filtered['code2'] = filtered['code2'].mask(condition, 'NA')

In [15]:
# get a dataframe for the unique countries in the mobility data
countries_in_mob = filtered[['code2', 'Country']].drop_duplicates().compute()
# check if there are missing
countries_in_mob[countries_in_mob['code2'].isna()]

Empty DataFrame
Columns: [code2, Country]
Index: []

In [16]:
# Get unique code2 that is in countries_in_mob but not in COUNTRY_CODE
not_in_cc = np.setdiff1d(countries_in_mob['code2'].unique(), COUNTRY_CODE['code2'].unique())
not_in_cc

array(['AW', 'HK', 'PR', 'RE', 'TW'], dtype=object)

In [17]:
countries_in_mob[countries_in_mob['code2'].isin(not_in_cc)]

       code2      Country
307435    AW        Aruba
261599    RE      R√©union
128171    HK    Hong Kong
498936    PR  Puerto Rico
460440    TW       Taiwan

In [18]:
# Check if there are items Country in countries_in_mob and COUNTRY_CODE that have the same code2 but different name

All of the five are either not a country, not a soverign nation, or not recognised as independent so for this analysis I would remove them for now

In [19]:
# Check if there are items in countries_in_mob and COUNTRY_CODE that have the same 'code2' but different 'Country' names

# Perform an inner join on 'code2' to find matching codes
merged_check = countries_in_mob[['code2', 'Country']].merge(
    COUNTRY_CODE[['code2', 'Country']],
    on='code2',
    how='inner',
    suffixes=('_mob', '_cc')  # Add suffixes to distinguish the 'Country' columns
)

# Filter for rows where the country names are different
mismatched_names = merged_check[merged_check['Country_mob'] != merged_check['Country_cc']]

# Display the results
if not mismatched_names.empty:
    print("Found entries with the same 'code2' but different 'Country' names:")
    print(mismatched_names[['code2', 'Country_mob', 'Country_cc']])
else:
    print("No entries found with the same 'code2' but different 'Country' names.")

Found entries with the same 'code2' but different 'Country' names:
    code2      Country_mob                                         Country_cc
9      MD          Moldova                               Moldova, Republic of
20     VE        Venezuela                  Venezuela, Bolivarian Republic of
24     BO          Bolivia                    Bolivia, Plurinational State of
28     TZ         Tanzania                       Tanzania, United Republic of
30     GB   United Kingdom  United Kingdom of Great Britain and Northern I...
38     LA             Laos                   Lao People's Democratic Republic
60     VN          Vietnam                                           Viet Nam
68     MM  Myanmar (Burma)                                            Myanmar
76     TR           Turkey                                            T√ºrkiye
86     KR      South Korea                                 Korea, Republic of
100    BS      The Bahamas                                            Bahamas
105    US    United States                           United States of America
109    RU           Russia                                 Russian Federation
123    CV       Cape Verde                                         Cabo Verde

In [20]:
COUNTRY_CODE.head(10)

   id code2 Code              Country
0   4    AF  AFG          Afghanistan
1   8    AL  ALB              Albania
2  12    DZ  DZA              Algeria
3  20    AD  AND              Andorra
4  24    AO  AGO               Angola
5  28    AG  ATG  Antigua and Barbuda
6  32    AR  ARG            Argentina
7  51    AM  ARM              Armenia
8  36    AU  AUS            Australia
9  40    AT  AUT              Austria

Based on the output, the countries are the same

In [21]:
# create a version of the COUNTRY_CODE the has no country to be merged to the filtered dask dataframe
country_code_wo_country = COUNTRY_CODE[['code2', 'Code']]

# merge the COUNTRY_CODE to the filtered dataframe to add the three letter code
filtered_mobility = dd.merge(
    filtered,
    country_code_wo_country,
    on = 'code2',
    how = 'left'
)

# Get a dataframe for the unique countries in the mobility data, excluding rows with <NA> in 'code2'
countries_in_mob = (
    filtered_mobility[['Code', 'Country']]
    .drop_duplicates()
    .dropna(subset=['Code'])  # Remove rows where 'code2' is <NA>
    .compute()
)

countries_in_mob

     Code               Country
2877  ARG             Argentina
2883  GNB         Guinea-Bissau
732   ITA                 Italy
5856  TUR                Turkey
2196  UKR               Ukraine
...   ...                   ...
2193  POL                Poland
0     ARE  United Arab Emirates
3609  AUT               Austria
732   KEN                 Kenya
2825  ROU               Romania

[130 rows x 2 columns]

In [22]:
# remove duplicates, and sort the results alphabetically by Country
result = (
    filtered_mobility[['code2', 'Code', 'Country']]
    .drop_duplicates()
    .compute()
    .sort_values(by='Country')  # Sort alphabetically by the 'Country' column
)

result.style.set_table_attributes(
    'style="height:300px; overflow-y:scroll; display:block;"'
)

In [23]:
# It seems that there might be missing code
result[result['Code'].isna()]

     code2  Code      Country
732     AW  <NA>        Aruba
3590    HK  <NA>    Hong Kong
2925    PR  <NA>  Puerto Rico
2196    RE  <NA>      R√©union
732     TW  <NA>       Taiwan

In [24]:
print(filtered_mobility.sample(frac = 0.0001, random_state = 1).compute())

      code2             Country sub_region_1 sub_region_2 metro_area  \
611      AU           Australia         <NA>         <NA>       <NA>
2688     CM            Cameroon         <NA>         <NA>       <NA>
1758     DO  Dominican Republic         <NA>         <NA>       <NA>
7179     HU             Hungary         <NA>         <NA>       <NA>
6009     LB             Lebanon         <NA>         <NA>       <NA>
12385    MD             Moldova         <NA>         <NA>       <NA>
184      PT            Portugal         <NA>         <NA>       <NA>
3020     SV         El Salvador         <NA>         <NA>       <NA>
1044     VE           Venezuela         <NA>         <NA>       <NA>

            date  retail_and_recreation_percent_change_from_baseline  \
611   2021-10-18                                              -15.0
2688  2021-06-21                                                6.0
1758  2020-12-05                                              -29.0
7179  2021-12-07                                                7.0
6009  2020-07-17                                              -10.0
12385 2022-01-26                                              -14.0
184   2020-08-17                                               -1.0
3020  2020-05-17                                              -82.0
1044  2020-12-23                                                6.0

       grocery_and_pharmacy_percent_change_from_baseline  \
611                                                  6.0
2688                                                33.0
1758                                                -4.0
7179                                                24.0
6009                                                 4.0
12385                                                3.0
184                                                 12.0
3020                                               -65.0
1044                                                44.0

       parks_percent_change_from_baseline  \
611                                 -17.0
2688                                -11.0
1758                                -32.0
7179                                 22.0
6009                                 28.0
12385                               -29.0
184                                  93.0
3020                                -74.0
1044                                  9.0

       transit_stations_percent_change_from_baseline  \
611                                            -53.0
2688                                            35.0
1758                                           -23.0
7179                                            -9.0
6009                                           -42.0
12385                                          -19.0
184                                            -35.0
3020                                           -76.0
1044                                            19.0

       workplaces_percent_change_from_baseline  \
611                                      -18.0
2688                                     -12.0
1758                                     -17.0
7179                                     -12.0
6009                                     -23.0
12385                                    -32.0
184                                      -44.0
3020                                     -48.0
1044                                     -20.0

       residential_percent_change_from_baseline Code
611                                         9.0  AUS
2688                                       -2.0  CMR
1758                                        8.0  DOM
7179                                        5.0  HUN
6009                                        1.0  LBN
12385                                       1.0  MDA
184                                        11.0  PRT
3020                                       23.0  SLV
1044                                        9.0  VEN

In [25]:
# Drop unnecessary columns in filtered_mobility
filtered_mobility = filtered_mobility.drop(columns = [
    'code2',
    'sub_region_1',
    'sub_region_2',
    'metro_area'
], axis = 1)

# Rename columns to be shorter
filtered_mobility = filtered_mobility.rename(columns = {
    'retail_and_recreation_percent_change_from_baseline' : 'retail_and_recreation',
    'grocery_and_pharmacy_percent_change_from_baseline' : 'grocery_and_pharmacy',
    'parks_percent_change_from_baseline' : 'parks',
    'transit_stations_percent_change_from_baseline' : 'transit_stations',
    'workplaces_percent_change_from_baseline' : 'workplaces',
    'residential_percent_change_from_baseline' : 'residential',
    'date' : 'Date'
})

print(filtered_mobility.sample(frac = 0.0001, random_state = 1).compute())

                  Country       Date  retail_and_recreation  \
611             Australia 2021-10-18                  -15.0
2688             Cameroon 2021-06-21                    6.0
1758   Dominican Republic 2020-12-05                  -29.0
7179              Hungary 2021-12-07                    7.0
6009              Lebanon 2020-07-17                  -10.0
12385             Moldova 2022-01-26                  -14.0
184              Portugal 2020-08-17                   -1.0
3020          El Salvador 2020-05-17                  -82.0
1044            Venezuela 2020-12-23                    6.0

       grocery_and_pharmacy  parks  transit_stations  workplaces  residential  \
611                     6.0  -17.0             -53.0       -18.0          9.0
2688                   33.0  -11.0              35.0       -12.0         -2.0
1758                   -4.0  -32.0             -23.0       -17.0          8.0
7179                   24.0   22.0              -9.0       -12.0          5.0
6009                    4.0   28.0             -42.0       -23.0          1.0
12385                   3.0  -29.0             -19.0       -32.0          1.0
184                    12.0   93.0             -35.0       -44.0         11.0
3020                  -65.0  -74.0             -76.0       -48.0         23.0
1044                   44.0    9.0              19.0       -20.0          9.0

      Code
611    AUS
2688   CMR
1758   DOM
7179   HUN
6009   LBN
12385  MDA
184    PRT
3020   SLV
1044   VEN

### Get national policy

In [26]:
# Check the oxford covid19 government response tracker
national_policy = pd.read_csv('data/oxcgt.csv')
national_policy.head()

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1M_School closing,C1M_Flag,C2M_Workplace closing,C2M_Flag,...,V3_Vaccine Financial Support (summary),V4_Mandatory Vaccination (summary),ConfirmedCases,ConfirmedDeaths,MajorityVaccinated,PopulationVaccinated,StringencyIndex_Average,GovernmentResponseIndex_Average,ContainmentHealthIndex_Average,EconomicSupportIndex
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200101,0,NaN,0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200102,0,NaN,0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200103,0,NaN,0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200104,0,NaN,0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200105,0,NaN,0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0

In [27]:
eval_df(national_policy)

üîç DATA TYPES & MEMORY USAGE
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202760 entries, 0 to 202759
Data columns (total 56 columns):
 #   Column                                                                           Non-Null Count   Dtype
---  ------                                                                           --------------   -----
 0   CountryName                                                                      202760 non-null  object
 1   CountryCode                                                                      202760 non-null  object
 2   RegionName                                                                       0 non-null       float64
 3   RegionCode                                                                       0 non-null       float64
 4   Jurisdiction                                                                     202760 non-null  object
 5   Date                                                                             202760 non-null  int64
 6   C1M_School closing                                                               202760 non-null  int64
 7   C1M_Flag                                                                         128263 non-null  float64
 8   C2M_Workplace closing                                                            202760 non-null  int64
 9   C2M_Flag                                                                         133824 non-null  float64
 10  C3M_Cancel public events                                                         202760 non-null  int64
 11  C3M_Flag                                                                         138576 non-null  float64
 12  C4M_Restrictions on gatherings                                                   202760 non-null  int64
 13  C4M_Flag                                                                         125800 non-null  float64
 14  C5M_Close public transport                                                       202760 non-null  int64
 15  C5M_Flag                                                                         67355 non-null   float64
 16  C6M_Stay at home requirements                                                    202760 non-null  int64
 17  C6M_Flag                                                                         89648 non-null   float64
 18  C7M_Restrictions on internal movement                                            202760 non-null  int64
 19  C7M_Flag                                                                         70722 non-null   float64
 20  C8EV_International travel controls                                               202760 non-null  int64
 21  E1_Income support                                                                202760 non-null  int64
 22  E1_Flag                                                                          99391 non-null   float64
 23  E2_Debt/contract relief                                                          202760 non-null  int64
 24  E3_Fiscal measures                                                               106288 non-null  float64
 25  E4_International support                                                         106370 non-null  float64
 26  H1_Public information campaigns                                                  202760 non-null  int64
 27  H1_Flag                                                                          191745 non-null  float64
 28  H2_Testing policy                                                                202760 non-null  int64
 29  H3_Contact tracing                                                               202760 non-null  int64
 30  H4_Emergency investment in healthcare                                            106245 non-null  float64
 31  H5_Investment in vaccines                                                        198475 non-null  float64
 32  H6M_Facial Coverings                                                             202760 non-null  int64
 33  H6M_Flag                                                                         167295 non-null  float64
 34  H7_Vaccination policy                                                            202760 non-null  int64
 35  H7_Flag                                                                          126150 non-null  float64
 36  H8M_Protection of elderly people                                                 202760 non-null  int64
 37  H8M_Flag                                                                         114519 non-null  float64
 38  V1_Vaccine Prioritisation (summary)                                              202760 non-null  int64
 39  V2A_Vaccine Availability (summary)                                               202760 non-null  int64
 40  V2B_Vaccine age eligibility/availability age floor (general population summary)  118396 non-null  object
 41  V2C_Vaccine age eligibility/availability age floor (at risk summary)             120360 non-null  object
 42  V2D_Medically/ clinically vulnerable (Non-elderly)                               127138 non-null  float64
 43  V2E_Education                                                                    127138 non-null  float64
 44  V2F_Frontline workers  (non healthcare)                                          127138 non-null  float64
 45  V2G_Frontline workers  (healthcare)                                              127138 non-null  float64
 46  V3_Vaccine Financial Support (summary)                                           202760 non-null  int64
 47  V4_Mandatory Vaccination (summary)                                               90957 non-null   float64
 48  ConfirmedCases                                                                   201664 non-null  float64
 49  ConfirmedDeaths                                                                  201664 non-null  float64
 50  MajorityVaccinated                                                               200568 non-null  object
 51  PopulationVaccinated                                                             200568 non-null  float64
 52  StringencyIndex_Average                                                          202760 non-null  float64
 53  GovernmentResponseIndex_Average                                                  202760 non-null  float64
 54  ContainmentHealthIndex_Average                                                   202760 non-null  float64
 55  EconomicSupportIndex                                                             202760 non-null  float64
dtypes: float64(30), int64(20), object(6)
memory usage: 86.6+ MB
None

üß© MISSING VALUES PER COLUMN
----------------------------------------
RegionName                                                                         202760
RegionCode                                                                         202760
C1M_Flag                                                                            74497
C2M_Flag                                                                            68936
C3M_Flag                                                                            64184
C4M_Flag                                                                            76960
C5M_Flag                                                                           135405
C6M_Flag                                                                           113112
C7M_Flag                                                                           132038
E1_Flag                                                                            103369
E3_Fiscal measures                                                                  96472
E4_International support                                                            96390
H1_Flag                                                                             11015
H4_Emergency investment in healthcare                                               96515
H5_Investment in vaccines                                                            4285
H6M_Flag                                                                            35465
H7_Flag                                                                             76610
H8M_Flag                                                                            88241
V2B_Vaccine age eligibility/availability age floor (general population summary)     84364
V2C_Vaccine age eligibility/availability age floor (at risk summary)                82400
V2D_Medically/ clinically vulnerable (Non-elderly)                                  75622
V2E_Education                                                                       75622
V2F_Frontline workers  (non healthcare)                                             75622
V2G_Frontline workers  (healthcare)                                                 75622
V4_Mandatory Vaccination (summary)                                                 111803
ConfirmedCases                                                                       1096
ConfirmedDeaths                                                                      1096
MajorityVaccinated                                                                   2192
PopulationVaccinated                                                                 2192
dtype: int64

üóÉÔ∏è DUPLICATE ROWS FOUND
----------------------------------------
0 duplicate rows found.

üìä SUMMARY STATISTICS
----------------------------------------
       RegionName  RegionCode          Date  C1M_School closing  \
count         0.0         0.0  2.027600e+05       202760.000000
mean          NaN         NaN  2.021066e+07            1.193199
std           NaN         NaN  8.174621e+03            1.139102
min           NaN         NaN  2.020010e+07            0.000000
25%           NaN         NaN  2.020098e+07            0.000000
50%           NaN         NaN  2.021070e+07            1.000000
75%           NaN         NaN  2.022040e+07            2.000000
max           NaN         NaN  2.022123e+07            3.000000

            C1M_Flag  C2M_Workplace closing       C2M_Flag  \
count  128263.000000          202760.000000  133824.000000
mean        0.835268               1.149645       0.797630
std         0.370940               0.988767       0.401768
min         0.000000               0.000000       0.000000
25%         1.000000               0.000000       1.000000
50%         1.000000               1.000000       1.000000
75%         1.000000               2.000000       1.000000
max         1.000000               3.000000       1.000000

       C3M_Cancel public events       C3M_Flag  \
count             202760.000000  138576.000000
mean                   1.103250       0.858857
std                    0.851878       0.348170
min                    0.000000       0.000000
25%                    0.000000       1.000000
50%                    1.000000       1.000000
75%                    2.000000       1.000000
max                    2.000000       1.000000

       C4M_Restrictions on gatherings  ...  \
count                   202760.000000  ...
mean                         2.010209  ...
std                          1.710198  ...
min                          0.000000  ...
25%                          0.000000  ...
50%                          3.000000  ...
75%                          4.000000  ...
max                          4.000000  ...

       V2G_Frontline workers  (healthcare)  \
count                        127138.000000
mean                              1.803316
std                               0.471447
min                               0.000000
25%                               2.000000
50%                               2.000000
75%                               2.000000
max                               2.000000

       V3_Vaccine Financial Support (summary)  \
count                           202760.000000
mean                                 3.100533
std                                  2.411897
min                                  0.000000
25%                                  0.000000
50%                                  5.000000
75%                                  5.000000
max                                  5.000000

       V4_Mandatory Vaccination (summary)  ConfirmedCases  ConfirmedDeaths  \
count                        90957.000000    2.016640e+05     2.016640e+05
mean                             0.278681    1.340886e+06     1.955307e+04
std                              0.448353    5.583371e+06     7.556113e+04
min                              0.000000    0.000000e+00     0.000000e+00
25%                              0.000000    5.146750e+03     6.400000e+01
50%                              0.000000    5.987900e+04     8.650000e+02
75%                              1.000000    5.218538e+05     7.470000e+03
max                              1.000000    1.007653e+08     1.092764e+06

       PopulationVaccinated  StringencyIndex_Average  \
count         200568.000000            202760.000000
mean              22.603420                42.675426
std               29.597555                24.930305
min                0.000000                 0.000000
25%                0.000000                22.220000
50%                2.330000                42.590000
75%               46.570000                62.040000
max              105.750000               100.000000

       GovernmentResponseIndex_Average  ContainmentHealthIndex_Average  \
count                    202760.000000                   202760.000000
mean                         44.857776                       46.699253
std                          19.649721                       19.865910
min                           0.000000                        0.000000
25%                          31.250000                       33.330000
50%                          46.880000                       48.720000
75%                          60.000000                       62.020000
max                          91.150000                       93.450000

       EconomicSupportIndex
count         202760.000000
mean              31.968029
std               32.962193
min                0.000000
25%                0.000000
50%               25.000000
75%               62.500000
max              100.000000

[8 rows x 50 columns]

In [28]:
# List of measures to focus on
measures_to_focus = [
    'CountryName',
    'CountryCode',
    'Date',
    'ConfirmedCases',
    'ConfirmedDeaths',
    'PopulationVaccinated',
    'StringencyIndex_Average', # Index that encompasses containment and closure policies and public information campaigns
    'ContainmentHealthIndex_Average', # Index that involve both StringencyIndex_Average plus health system polices
    'EconomicSupportIndex' # Index encompasses by economic policies
]

# Filter national_policy to include only the selected high-priority measures
national_policy = national_policy[measures_to_focus]

# Convert the 'Date' column to datetime using .loc to avoid SettingWithCopyWarning
# This explicitly targets the 'Date' column for all rows (:)
national_policy.loc[:, 'Date'] = pd.to_datetime(
    national_policy['Date'].astype(str),
    format='%Y%m%d'
)

# Rename the columns in the national_policy columns
national_policy = national_policy.rename(columns = {
    'CountryName' : 'Country',
    'CountryCode' : 'Code'
})

national_policy

,Country,Code,Date,ConfirmedCases,ConfirmedDeaths,PopulationVaccinated,StringencyIndex_Average,ContainmentHealthIndex_Average,EconomicSupportIndex
0,Aruba,ABW,2020-01-01,0.0,0.0,0.00,0.00,0.00,0.0
1,Aruba,ABW,2020-01-02,0.0,0.0,0.00,0.00,0.00,0.0
2,Aruba,ABW,2020-01-03,0.0,0.0,0.00,0.00,0.00,0.0
3,Aruba,ABW,2020-01-04,0.0,0.0,0.00,0.00,0.00,0.0
4,Aruba,ABW,2020-01-05,0.0,0.0,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...
202755,Zimbabwe,ZWE,2022-12-27,259981.0,5637.0,29.11,29.48,41.65,0.0
202756,Zimbabwe,ZWE,2022-12-28,259981.0,5637.0,29.11,29.48,41.65,0.0
202757,Zimbabwe,ZWE,2022-12-29,259981.0,5637.0,29.11,29.48,41.65,0.0
202758,Zimbabwe,ZWE,2022-12-30,259981.0,5637.0,29.11,29.48,41.65,0.0
202759,Zimbabwe,ZWE,2022-12-31,259981.0,5637.0,29.11,29.48,41.65,0.0

In [29]:
# To mirror the mobility data, I would limit the max date to 2022-02-15
national_policy = national_policy[
    national_policy['Date'] <= '2022-02-15'
]

In [30]:
# Create a Country and Code of the national_policy
np_df = national_policy[['Code']].drop_duplicates()

# Get the intersection of np_df and the countries_in_mob
study_sample = pd.merge(
    countries_in_mob, 
    np_df,
    how = 'inner',
    on = ['Code'])

print(study_sample.sort_values(by = 'Country'))

    Code      Country
50   AFG  Afghanistan
113  AGO       Angola
0    ARG    Argentina
29   AUS    Australia
124  AUT      Austria
..   ...          ...
110  VEN    Venezuela
4    VNM      Vietnam
70   YEM        Yemen
111  ZMB       Zambia
112  ZWE     Zimbabwe

[127 rows x 2 columns]

### Get the country stats

In [31]:
COUNTRY_CODE

      id code2 Code                            Country
0      4    AF  AFG                        Afghanistan
1      8    AL  ALB                            Albania
2     12    DZ  DZA                            Algeria
3     20    AD  AND                            Andorra
4     24    AO  AGO                             Angola
..   ...   ...  ...                                ...
188  862    VE  VEN  Venezuela, Bolivarian Republic of
189  704    VN  VNM                           Viet Nam
190  887    YE  YEM                              Yemen
191  894    ZM  ZMB                             Zambia
192  716    ZW  ZWE                           Zimbabwe

[193 rows x 4 columns]

In [32]:
country_stat = COUNTRY_CODE
# Define path to folder containing country statistics CSVs
folder_path = 'data/country_stat/'
csv_files = glob.glob(folder_path + "*.csv")

# Merge each additional CSV file into the main country_stat DataFrame
# Handle potential encoding issues for each file
for file in csv_files:
    print(f"Attempting to read: {file}")
    try:
        # Try UTF-8 first (most common standard)
        df = pd.read_csv(file, encoding='utf-8')
    except UnicodeDecodeError:
        # If UTF-8 fails, try common alternatives
        try:
            df = pd.read_csv(file, encoding='latin1') # ISO 8859-1
            print(f"  Successfully read {file} with 'latin1' encoding.")
        except UnicodeDecodeError:
            try:
                df = pd.read_csv(file, encoding='cp1252') # Windows-1252
                print(f"  Successfully read {file} with 'cp1252' encoding.")
            except UnicodeDecodeError:
                # If all common encodings fail, raise an error with the filename
                raise UnicodeDecodeError(f"Failed to read {file} with common encodings (utf-8, latin1, cp1252). "
                                         "Please check the file's encoding.")

    # Drop 'Country' column if it's duplicated (assuming 'Code' is the unique key)
    df.drop(columns=["Country"], inplace=True)

    # Merge on country code
    country_stat = pd.merge(country_stat, df, on="Code", how="outer")

# Evaluate the merged DataFrame for structure, completeness, and duplicates
eval_df(country_stat)

Attempting to read: data/country_stat/urbanization.csv
Attempting to read: data/country_stat/corruption_perception_index.csv
Attempting to read: data/country_stat/gdp_per_capita.csv
Attempting to read: data/country_stat/geographic_data.csv
Attempting to read: data/country_stat/hospital_beds.csv
  Successfully read data/country_stat/hospital_beds.csv with 'latin1' encoding.
Attempting to read: data/country_stat/unemployment.csv
Attempting to read: data/country_stat/political_regime.csv
Attempting to read: data/country_stat/gini_index.csv
Attempting to read: data/country_stat/population_density.csv
Attempting to read: data/country_stat/extreme_poverty.csv
Attempting to read: data/country_stat/median-age.csv
Attempting to read: data/country_stat/land-area-km.csv

üîç DATA TYPES & MEMORY USAGE
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           193 non-null    float64
 1   code2                        193 non-null    object
 2   Code                         247 non-null    object
 3   Country                      193 non-null    object
 4   urban_population             197 non-null    float64
 5   corruption_perception_index  180 non-null    float64
 6   gdp_per_capita               271 non-null    float64
 7   land_boundaries              312 non-null    float64
 8   coastline                    310 non-null    float64
 9   num_border_countries         310 non-null    float64
 10  border_countries             176 non-null    object
 11  hospital_beds_per_1000       167 non-null    float64
 12  unemployment                 187 non-null    float64
 13  political_regime             174 non-null    object
 14  gini_index                   169 non-null    float64
 15  population_density           200 non-null    float64
 16  poverty                      159 non-null    float64
 17  median_age                   201 non-null    float64
 18  land_area_sqkm               196 non-null    float64
dtypes: float64(14), object(5)
memory usage: 47.2+ KB
None

üß© MISSING VALUES PER COLUMN
----------------------------------------
id                             124
code2                          124
Code                            70
Country                        124
urban_population               120
corruption_perception_index    137
gdp_per_capita                  46
land_boundaries                  5
coastline                        7
num_border_countries             7
border_countries               141
hospital_beds_per_1000         150
unemployment                   130
political_regime               143
gini_index                     148
population_density             117
poverty                        158
median_age                     116
land_area_sqkm                 121
dtype: int64

üóÉÔ∏è DUPLICATE ROWS FOUND
----------------------------------------
0 duplicate rows found.

üìä SUMMARY STATISTICS
----------------------------------------
               id  urban_population  corruption_perception_index  \
count  193.000000        197.000000                   180.000000
mean   433.279793         59.427223                    43.166667
std    254.431053         23.161899                    18.960264
min      4.000000         13.250000                     9.000000
25%    212.000000         41.612000                    29.000000
50%    430.000000         60.308000                    39.500000
75%    659.000000         78.099000                    56.000000
max    894.000000        100.000000                    87.000000

       gdp_per_capita  land_boundaries      coastline  num_border_countries  \
count      271.000000       312.000000     310.000000            310.000000
mean     26985.167085      1747.996795    2602.079032              2.106452
std      26661.273006      3088.111848   12848.775646              2.548867
min        623.400000         0.000000       0.000000              0.000000
25%       6856.675700         0.000000      58.900000              0.000000
50%      18256.998000       156.000000     190.500000              1.000000
75%      42198.130000      2432.000000    1146.750000              4.000000
max     166907.800000     22457.000000  202080.000000             14.000000

       hospital_beds_per_1000  unemployment  gini_index  population_density  \
count              167.000000    187.000000  169.000000          200.000000
mean                 2.951976      7.293941    0.375518          294.578268
std                  2.679764      5.673796    0.079872         1414.506600
min                  0.170000      0.100000    0.232323            0.136699
25%                  1.110000      3.448000    0.317809           31.278362
50%                  2.300000      5.206000    0.356654           84.848432
75%                  4.055000     10.334500    0.425342          209.366408
max                 22.020000     28.468000    0.630258        18297.025000

          poverty  median_age  land_area_sqkm
count  159.000000  201.000000    1.960000e+02
mean    10.755403   29.041841    6.618971e+05
std     17.961751    9.253179    1.823404e+06
min      0.000000   14.368000    2.084000e+00
25%      0.266830   20.903000    2.308750e+04
50%      1.401915   28.361000    1.203750e+05
75%     15.240933   36.543000    5.151600e+05
max     78.942020   54.642000    1.637687e+07

In [33]:
# Drop the id and code2 columns
country_stat = country_stat.drop(columns = ['id', 'code2'], axis = 1)

In [34]:
# Create a Country and Code of the country stat
cs_df = country_stat[['Code']].drop_duplicates()

# Get the intersection of np_df and the countries_in_mob
study_sample = pd.merge(
    study_sample, 
    cs_df,
    how = 'inner',
    on = ['Code'])

print(study_sample.sort_values(by = 'Country'))

    Code      Country
50   AFG  Afghanistan
113  AGO       Angola
0    ARG    Argentina
29   AUS    Australia
124  AUT      Austria
..   ...          ...
110  VEN    Venezuela
4    VNM      Vietnam
70   YEM        Yemen
111  ZMB       Zambia
112  ZWE     Zimbabwe

[127 rows x 2 columns]

In [35]:
country_stat = country_stat[country_stat['Code'].isin(study_sample['Code'])]
eval_df(country_stat)

üîç DATA TYPES & MEMORY USAGE
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 1 to 246
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Code                         127 non-null    object
 1   Country                      127 non-null    object
 2   urban_population             127 non-null    float64
 3   corruption_perception_index  124 non-null    float64
 4   gdp_per_capita               126 non-null    float64
 5   land_boundaries              127 non-null    float64
 6   coastline                    127 non-null    float64
 7   num_border_countries         127 non-null    float64
 8   border_countries             112 non-null    object
 9   hospital_beds_per_1000       126 non-null    float64
 10  unemployment                 126 non-null    float64
 11  political_regime             124 non-null    object
 12  gini_index                   125 non-null    float64
 13  population_density           127 non-null    float64
 14  poverty                      115 non-null    float64
 15  median_age                   127 non-null    float64
 16  land_area_sqkm               127 non-null    float64
dtypes: float64(13), object(4)
memory usage: 17.9+ KB
None

üß© MISSING VALUES PER COLUMN
----------------------------------------
corruption_perception_index     3
gdp_per_capita                  1
border_countries               15
hospital_beds_per_1000          1
unemployment                    1
political_regime                3
gini_index                      2
poverty                        12
dtype: int64

üóÉÔ∏è DUPLICATE ROWS FOUND
----------------------------------------
0 duplicate rows found.

üìä SUMMARY STATISTICS
----------------------------------------
       urban_population  corruption_perception_index  gdp_per_capita  \
count        127.000000                   124.000000      126.000000
mean          62.862701                    46.217742    29550.430979
std           22.370051                    19.204742    28943.024152
min           13.250000                    15.000000      623.400000
25%           47.401000                    30.750000     8125.092000
50%           66.177000                    41.000000    18379.695000
75%           81.456000                    60.000000    44282.128750
max          100.000000                    87.000000   166907.800000

       land_boundaries      coastline  num_border_countries  \
count       127.000000     127.000000            127.000000
mean       3190.928346    5059.715748              3.629921
std        3482.265985   19347.715515              2.448852
min           0.000000       0.000000              0.000000
25%         877.000000      62.250000              2.000000
50%        2237.000000     823.000000              4.000000
75%        4368.075000    2790.000000              5.000000
max       22407.000000  202080.000000             14.000000

       hospital_beds_per_1000  unemployment  gini_index  population_density  \
count              126.000000    126.000000  125.000000          127.000000
mean                 2.907857      6.571746    0.381391          227.507278
std                  2.433828      4.960589    0.083967          735.066124
min                  0.170000      0.100000    0.232323            2.075187
25%                  1.067500      3.433500    0.318931           33.333070
50%                  2.230000      4.968500    0.362465           84.937030
75%                  4.177500      8.730750    0.433141          208.888695
max                 12.880000     28.468000    0.630258         7896.325700

          poverty  median_age  land_area_sqkm
count  115.000000  127.000000    1.270000e+02
mean     8.515624   30.512756    8.072397e+05
std     15.720207    9.175992    2.070121e+06
min      0.000000   14.699000    1.600000e+02
25%      0.243869   22.996500    5.517500e+04
50%      1.040000   29.063000    2.300800e+05
75%      6.626446   39.189500    6.158150e+05
max     74.528350   47.262000    1.637687e+07

In [36]:
columns_w_missing = [
    'Code',
    'Country',
    'corruption_perception_index',
    'gdp_per_capita',
    'border_countries',
    'hospital_beds_per_1000',
    'unemployment',
    'political_regime',
    'gini_index',
    'poverty'
]

Evaluation of the Missing values:  
No data for Liechtenstein, for the rest I used the value that is closest to the 2019 value.

In [37]:
# Create a copy to explore missing data safely
missing_df = country_stat[columns_w_missing]

# Add a column to count missing values per country
missing_df.loc[:, 'missing_count'] = missing_df.isna().sum(axis=1)

# Filter only countries with at least one missing value and sort by the number of missing entries
missing_df = missing_df[missing_df['missing_count'] > 0].sort_values(by='missing_count', ascending=True)

# Display in a scrollable format (useful for large result sets)
missing_df

/tmp/ipykernel_20207/4263053850.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_df.loc[:, 'missing_count'] = missing_df.isna().sum(axis=1)

,Code,Country,corruption_perception_index,gdp_per_capita,border_countries,hospital_beds_per_1000,unemployment,political_regime,gini_index,poverty,missing_count
1,AFG,Afghanistan,16.0,2927.245,"China 91 km; Iran 921 km; Pakistan 2,670 km; T...",0.38,11.185,electoral_autocracies,0.410000,NaN,1
13,AUS,Australia,77.0,56981.395,NaN,3.84,5.159,liberal_democracies,0.343326,0.497094,1
50,CPV,Cabo Verde,58.0,9111.630,NaN,1.97,12.128,electoral_democracies,0.423811,4.564231,1
31,BRB,Barbados,62.0,18572.510,NaN,5.74,8.412,liberal_democracies,0.340680,1.677398,1
121,KWT,Kuwait,40.0,51122.332,Iraq 254 km; Saudi Arabia 221 km,2.00,2.251,electoral_autocracies,0.529000,NaN,1
117,KHM,Cambodia,20.0,6448.885,Laos 555 km; Thailand 817 km; Vietnam 1158 km,0.74,0.119,electoral_autocracies,0.454000,NaN,1
113,JPN,Japan,73.0,44976.508,NaN,12.88,2.351,liberal_democracies,0.329849,1.221445,1
110,JAM,Jamaica,43.0,10216.065,NaN,1.73,4.987,liberal_democracies,0.356387,0.056063,1
125,LBY,Libya,18.0,14333.423,"Algeria 989 km; Chad 1,050 km; Egypt 1,115 km;...",3.20,19.050,closed_autocracies,0.441000,NaN,1
128,LKA,Sri Lanka,38.0,14637.444,NaN,4.00,4.670,electoral_democracies,0.376638,0.958613,1
144,MLT,Malta,54.0,54667.383,NaN,4.11,3.616,electoral_democracies,0.310418,0.304682,1
235,VEN,"Venezuela, Bolivarian Republic of",16.0,NaN,"Brazil 2,137 km; Colombia 2,341 km; Guyana 789 km",0.93,5.876,electoral_autocracies,0.446984,9.712060,1
188,SAU,Saudi Arabia,53.0,56365.508,Iraq 811 km; Jordan 731 km; Kuwait 221 km; Oma...,2.15,5.636,closed_autocracies,0.544000,NaN,1
174,PHL,Philippines,34.0,9452.294,NaN,0.98,2.237,electoral_autocracies,0.378117,5.057057,1
167,OMN,Oman,52.0,38292.387,Saudi Arabia 658 km; UAE 609 km; Yemen 294 km,1.10,2.040,closed_autocracies,0.443000,NaN,1
152,MUS,Mauritius,52.0,25739.355,NaN,3.63,6.331,electoral_democracies,0.367612,0.125314,1
72,FJI,Fiji,NaN,13567.474,NaN,1.89,4.373,electoral_autocracies,0.307069,1.318269,2
166,NZL,New Zealand,87.0,47523.230,NaN,2.55,4.109,liberal_democracies,0.346000,NaN,2
191,SGP,Singapore,85.0,119572.270,NaN,2.60,3.100,electoral_autocracies,0.337000,NaN,2
22,BHR,Bahrain,42.0,56749.960,NaN,1.74,1.223,closed_autocracies,0.557000,NaN,2
221,TTO,Trinidad and Tobago,40.0,34349.130,NaN,1.90,3.523,liberal_democracies,0.533000,NaN,2
23,BHS,Bahamas,64.0,32495.334,NaN,2.70,9.336,NaN,0.533000,NaN,3
27,BLZ,Belize,NaN,11803.088,Guatemala 266 km; Mexico 276 km,1.03,9.053,NaN,NaN,1.040000,3
127,LIE,Liechtenstein,NaN,166907.800,Austria 34 km; Switzerland 41 km,NaN,NaN,NaN,NaN,NaN,6

In [38]:
# Drop border countries
missing_df = missing_df.drop(columns = 'border_countries', axis = 1)

# Add a column to count missing values per country
missing_df.loc[:, 'missing_count'] = missing_df.isna().sum(axis=1)

# Filter only countries with at least one missing value and sort by the number of missing entries
missing_df = missing_df[missing_df['missing_count'] > 0].sort_values(by='missing_count', ascending=True)

# Display in a scrollable format (useful for large result sets)
missing_df

,Code,Country,corruption_perception_index,gdp_per_capita,hospital_beds_per_1000,unemployment,political_regime,gini_index,poverty,missing_count
1,AFG,Afghanistan,16.0,2927.245,0.38,11.185,electoral_autocracies,0.410000,NaN,1
121,KWT,Kuwait,40.0,51122.332,2.00,2.251,electoral_autocracies,0.529000,NaN,1
117,KHM,Cambodia,20.0,6448.885,0.74,0.119,electoral_autocracies,0.454000,NaN,1
125,LBY,Libya,18.0,14333.423,3.20,19.050,closed_autocracies,0.441000,NaN,1
235,VEN,"Venezuela, Bolivarian Republic of",16.0,NaN,0.93,5.876,electoral_autocracies,0.446984,9.712060,1
188,SAU,Saudi Arabia,53.0,56365.508,2.15,5.636,closed_autocracies,0.544000,NaN,1
167,OMN,Oman,52.0,38292.387,1.10,2.040,closed_autocracies,0.443000,NaN,1
72,FJI,Fiji,NaN,13567.474,1.89,4.373,electoral_autocracies,0.307069,1.318269,1
166,NZL,New Zealand,87.0,47523.230,2.55,4.109,liberal_democracies,0.346000,NaN,1
191,SGP,Singapore,85.0,119572.270,2.60,3.100,electoral_autocracies,0.337000,NaN,1
22,BHR,Bahrain,42.0,56749.960,1.74,1.223,closed_autocracies,0.557000,NaN,1
221,TTO,Trinidad and Tobago,40.0,34349.130,1.90,3.523,liberal_democracies,0.533000,NaN,1
23,BHS,Bahamas,64.0,32495.334,2.70,9.336,NaN,0.533000,NaN,2
27,BLZ,Belize,NaN,11803.088,1.03,9.053,NaN,NaN,1.040000,3
127,LIE,Liechtenstein,NaN,166907.800,NaN,NaN,NaN,NaN,NaN,6

In [39]:
# for this analysis we will remove all the rows that have missing 
study_sample = study_sample[~study_sample['Code'].isin(missing_df['Code'])]

## Create country stat, national policy and mobility data that includes only countries in the study sample

In [40]:
country_stat = country_stat[country_stat['Code'].isin(study_sample['Code'])]
country_stat

,Code,Country,urban_population,corruption_perception_index,gdp_per_capita,land_boundaries,coastline,num_border_countries,border_countries,hospital_beds_per_1000,unemployment,political_regime,gini_index,population_density,poverty,median_age,land_area_sqkm
2,AGO,Angola,66.177,26.0,8274.5430,5369.00,1600.0,4.0,"Democratic Republic of the Congo 2,646 km (of ...",0.75,16.497,electoral_autocracies,0.512640,25.969065,31.122005,16.302,1246700.0
6,ARE,United Arab Emirates,86.789,71.0,68887.8400,1066.00,1318.0,2.0,Oman 609 km; Saudi Arabia 457 km,1.87,2.331,closed_autocracies,0.263990,132.045270,0.000000,30.834,71020.0
7,ARG,Argentina,91.991,45.0,26629.5530,11968.00,4989.0,5.0,"Bolivia 942 km; Brazil 1,263 km; Chile 6,691 k...",3.71,9.843,electoral_democracies,0.433141,16.433529,1.684649,30.763,2736690.0
13,AUS,Australia,86.124,77.0,56981.3950,0.00,25760.0,0.0,NaN,3.84,5.159,liberal_democracies,0.343326,3.312877,0.497094,36.543,7692020.0
14,AUT,Austria,58.515,77.0,65312.0230,2524.00,0.0,8.0,Czech Republic 402 km; Germany 801 km; Hungary...,7.19,4.560,liberal_democracies,0.302104,107.620880,0.640639,42.433,82520.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,VNM,Viet Nam,36.628,37.0,11628.6140,4616.00,3444.0,3.0,"Cambodia 1,158 km; China 1,297 km; Laos 2,161 km",2.55,1.681,electoral_autocracies,0.367902,310.034420,0.653778,30.586,313429.0
243,YEM,Yemen,37.273,15.0,623.4000,1601.00,1906.0,2.0,"Oman 294 km; Saudi Arabia 1,307 km",0.71,17.202,closed_autocracies,0.367071,66.502680,19.802757,18.017,527970.0
244,ZAF,South Africa,66.856,44.0,14370.2380,5244.00,2798.0,6.0,"Botswana 1,969 km; Lesotho 1,106 km; Mozambiqu...",2.30,28.468,electoral_democracies,0.630258,49.120743,20.492558,26.873,1213090.0
245,ZMB,Zambia,44.072,34.0,3591.5642,6043.15,0.0,8.0,"Angola 1,065 km; Botswana 0.15 km; Democratic ...",2.00,5.542,electoral_autocracies,0.514831,24.904613,64.349754,16.763,743390.0
246,ZWE,Zimbabwe,32.210,24.0,3294.8062,3229.00,0.0,4.0,"Botswana 834 km; Mozambique 1,402 km; South Af...",2.00,7.373,electoral_autocracies,0.502564,39.476223,39.754530,17.187,386850.0

In [41]:
national_policy = national_policy[national_policy['Code'].isin(study_sample['Code'])]
national_policy

,Country,Code,Date,ConfirmedCases,ConfirmedDeaths,PopulationVaccinated,StringencyIndex_Average,ContainmentHealthIndex_Average,EconomicSupportIndex
2192,Angola,AGO,2020-01-01,0.0,0.0,0.00,0.00,0.00,0.0
2193,Angola,AGO,2020-01-02,0.0,0.0,0.00,0.00,0.00,0.0
2194,Angola,AGO,2020-01-03,0.0,0.0,0.00,0.00,0.00,0.0
2195,Angola,AGO,2020-01-04,0.0,0.0,0.00,0.00,0.00,0.0
2196,Angola,AGO,2020-01-05,0.0,0.0,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...
202436,Zimbabwe,ZWE,2022-02-11,231214.0,5374.0,20.48,51.45,61.05,0.0
202437,Zimbabwe,ZWE,2022-02-12,231299.0,5374.0,20.51,51.45,61.05,0.0
202438,Zimbabwe,ZWE,2022-02-13,231381.0,5374.0,20.52,51.45,61.05,0.0
202439,Zimbabwe,ZWE,2022-02-14,231603.0,5374.0,20.53,51.45,61.05,0.0
202440,Zimbabwe,ZWE,2022-02-15,231603.0,5374.0,20.54,51.45,61.05,0.0

In [42]:
filtered_mobility = filtered_mobility[filtered_mobility['Code'].isin(study_sample['Code'])]
print(filtered_mobility.sample(frac = 0.0001, random_state = 1).compute())

           Country       Date  retail_and_recreation  grocery_and_pharmacy  \
2925      Barbados 2022-02-13                   32.0                  17.0
2688      Cameroon 2021-06-21                    6.0                  33.0
3070       Estonia 2020-07-06                   15.0                  14.0
637        Georgia 2021-12-28                   34.0                  76.0
3067   South Korea 2020-07-03                   -8.0                   5.0
17011       Mexico 2020-09-15                  -24.0                   1.0
3763        Serbia 2020-10-23                   -7.0                  13.0
3106   El Salvador 2020-08-11                  -47.0                 -24.0

       parks  transit_stations  workplaces  residential Code
2925    51.0               3.0        15.0         -3.0  BRB
2688   -11.0              35.0       -12.0         -2.0  CMR
3070   116.0              -3.0       -37.0          4.0  EST
637     30.0               9.0        -4.0         -3.0  GEO
3067    23.0              -5.0        -1.0          2.0  KOR
17011  -27.0             -40.0       -31.0          9.0  MEX
3763    18.0              -2.0       -15.0         -1.0  SRB
3106   -42.0             -56.0       -45.0         20.0  SLV