# Introduction

# Importing required libraries

In [17]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import dask.dataframe as dd
import glob

# Check and review each csv

In [18]:
def eval_csv(dataframe):
    # Display basic info
    print("\n DATA TYPES & MISSING VALUES")
    print(dataframe.info())

    # Check for missing values
    missing_values = dataframe.isnull().sum()
    print("\n MISSING VALUES PER COLUMN")
    print(missing_values[missing_values>0])

    # Check for duplicate rows
    duplicates = dataframe.duplicated().sum()
    print(f"\n DUPLICATE ROWS FOUND: {duplicates}")

    # Display basic statistics
    print("\n SUMMARY STATISTICS")
    print(dataframe.describe(include="all"))

## Check country stat

In [23]:
folder_path = 'data/country_stat/'
csv_files = glob.glob(folder_path + "*.csv")

for file in csv_files:
    print("---------------------------")
    print(f"\nPROCESSING {file}")
    df = pd.read_csv(file)
    print(df.head())
    eval_csv(df)

---------------------------

PROCESSING data/country_stat/urbanization.csv
        Entity Code  Year  Urban population (% of total population)  time
0  Afghanistan  AFG  2019                                    25.754  2019
1      Albania  ALB  2019                                    61.229  2019
2      Algeria  DZA  2019                                    73.189  2019
3      Andorra  AND  2019                                    87.984  2019
4       Angola  AGO  2019                                    66.177  2019

 DATA TYPES & MISSING VALUES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 5 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Entity                                    197 non-null    object
 1   Code                                      197 non-null    object
 2   Year                                      197 non-null    int64
 3   Urban population (% of total population)  197 non-null    float64
 4   time                                      197 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 7.8+ KB
None

 MISSING VALUES PER COLUMN
Series([], dtype: int64)

 DUPLICATE ROWS FOUND: 0

 SUMMARY STATISTICS
             Entity Code    Year  Urban population (% of total population)  \
count           197  197   197.0                                197.000000
unique          197  197     NaN                                       NaN
top     Afghanistan  AFG     NaN                                       NaN
freq              1    1     NaN                                       NaN
mean            NaN  NaN  2019.0                                 59.427223
std             NaN  NaN     0.0                                 23.161899
min             NaN  NaN  2019.0                                 13.250000
25%             NaN  NaN  2019.0                                 41.612000
50%             NaN  NaN  2019.0                                 60.308000
75%             NaN  NaN  2019.0                                 78.099000
max             NaN  NaN  2019.0                                100.000000

          time
count    197.0
unique     NaN
top        NaN
freq       NaN
mean    2019.0
std        0.0
min     2019.0
25%     2019.0
50%     2019.0
75%     2019.0
max     2019.0
---------------------------

PROCESSING data/country_stat/corruption_perception_index.csv
       Country ISO3 Region  CPI score 2019  Rank
0      Denmark  DNK  WE/EU              87     1
1  New Zealand  NZL     AP              87     1
2      Finland  FIN  WE/EU              86     3
3    Singapore  SGP     AP              85     4
4       Sweden  SWE  WE/EU              85     4

 DATA TYPES & MISSING VALUES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         180 non-null    object
 1   ISO3            180 non-null    object
 2   Region          180 non-null    object
 3   CPI score 2019  180 non-null    int64
 4   Rank            180 non-null    int64
dtypes: int64(2), object(3)
memory usage: 7.2+ KB
None

 MISSING VALUES PER COLUMN
Series([], dtype: int64)

 DUPLICATE ROWS FOUND: 0

 SUMMARY STATISTICS
        Country ISO3 Region  CPI score 2019        Rank
count       180  180    180      180.000000  180.000000
unique      180  180      6             NaN         NaN
top     Denmark  DNK    SSA             NaN         NaN
freq          1    1     49             NaN         NaN
mean        NaN  NaN    NaN       43.166667   88.966667
std         NaN  NaN    NaN       18.960264   51.656353
min         NaN  NaN    NaN        9.000000    1.000000
25%         NaN  NaN    NaN       29.000000   44.000000
50%         NaN  NaN    NaN       39.500000   88.000000
75%         NaN  NaN    NaN       56.000000  130.000000
max         NaN  NaN    NaN       87.000000  180.000000
---------------------------

PROCESSING data/country_stat/gdp_per_capita.csv
        Entity Code  Year  GDP per capita  900793-annotations  time
0  Afghanistan  AFG  2019       2031.7373                 NaN  2019
1      Albania  ALB  2019      11715.3070                 NaN  2019
2      Algeria  DZA  2019      14000.2790                 NaN  2019
3       Angola  AGO  2019       6886.9540                 NaN  2019
4    Argentina  ARG  2019      17912.6370                 NaN  2019

 DATA TYPES & MISSING VALUES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Entity              164 non-null    object
 1   Code                164 non-null    object
 2   Year                164 non-null    int64
 3   GDP per capita      164 non-null    float64
 4   900793-annotations  0 non-null      float64
 5   time                164 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 7.8+ KB
None

 MISSING VALUES PER COLUMN
900793-annotations    164
dtype: int64

 DUPLICATE ROWS FOUND: 0

 SUMMARY STATISTICS
             Entity Code    Year  GDP per capita  900793-annotations    time
count           164  164   164.0      164.000000                 0.0   164.0
unique          164  164     NaN             NaN                 NaN     NaN
top     Afghanistan  AFG     NaN             NaN                 NaN     NaN
freq              1    1     NaN             NaN                 NaN     NaN
mean            NaN  NaN  2019.0    19262.506680                 NaN  2019.0
std             NaN  NaN     0.0    20497.291382                 NaN     0.0
min             NaN  NaN  2019.0      623.559800                 NaN  2019.0
25%             NaN  NaN  2019.0     4498.190625                 NaN  2019.0
50%             NaN  NaN  2019.0    12515.447500                 NaN  2019.0
75%             NaN  NaN  2019.0    27700.940250                 NaN  2019.0
max             NaN  NaN  2019.0   150732.220000                 NaN  2019.0
---------------------------

PROCESSING data/country_stat/geographic_data.csv
     Country Name Country Code  Land boundaries  Coastline  Border countries  \
0     Afghanistan          AFG           5987.0        0.0               6.0
1         Albania          ALB            691.0      362.0               4.0
2         Algeria          DZA           6734.0      998.0               6.0
3  American Samoa          ASM              0.0      116.0               0.0
4         Andorra          AND            118.0        0.0               2.0

                                Contiguous countries
0  China 91 km; Iran 921 km; Pakistan 2,670 km; T...
1  Greece 212 km; Kosovo 112 km; North Macedonia ...
2  Libya 989 km; Mali 1,359 km; Mauritania 460 km...
3                                                NaN
4                         France 55 km; Spain 63 km

 DATA TYPES & MISSING VALUES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Name          217 non-null    object
 1   Country Code          217 non-null    object
 2   Land boundaries       21 non-null     float64
 3   Coastline             21 non-null     float64
 4   Border countries      20 non-null     float64
 5   Contiguous countries  14 non-null     object
dtypes: float64(3), object(3)
memory usage: 10.3+ KB
None

 MISSING VALUES PER COLUMN
Land boundaries         196
Coastline               196
Border countries        197
Contiguous countries    203
dtype: int64

 DUPLICATE ROWS FOUND: 0

 SUMMARY STATISTICS
       Country Name Country Code  Land boundaries     Coastline  \
count           217          217        21.000000     21.000000
unique          217          217              NaN           NaN
top     Afghanistan          AFG              NaN           NaN
freq              1            1              NaN           NaN
mean            NaN          NaN      2352.523810   1857.142857
std             NaN          NaN      3093.192148   5625.181366
min             NaN          NaN         0.000000      0.000000
25%             NaN          NaN         0.000000      0.000000
50%             NaN          NaN      1297.000000    121.000000
75%             NaN          NaN      3599.000000    580.000000
max             NaN          NaN     11968.000000  25760.000000

        Border countries                               Contiguous countries
count           20.00000                                                 14
unique               NaN                                                 14
top                  NaN  China 91 km; Iran 921 km; Pakistan 2,670 km; T...
freq                 NaN                                                  1
mean             3.05000                                                NaN
std              2.48098                                                NaN
min              0.00000                                                NaN
25%              0.00000                                                NaN
50%              4.00000                                                NaN
75%              5.00000                                                NaN
max              8.00000                                                NaN
---------------------------

PROCESSING data/country_stat/hospital_beds.csv
        Entity Code    Year  Hospital beds (per 1,000 people)  time
0  Afghanistan  AFG  2019.0                              0.38  2019
1      Albania  ALB  2019.0                              2.85  2019
2      Algeria  NaN     NaN                              1.63  2017
3      Andorra  NaN     NaN                               NaN  2019
4       Angola  AGO  2019.0                              0.75  2019

 DATA TYPES & MISSING VALUES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Entity                            194 non-null    object
 1   Code                              135 non-null    object
 2   Year                              135 non-null    float64
 3   Hospital beds (per 1,000 people)  160 non-null    float64
 4   time                              194 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 7.7+ KB
None

 MISSING VALUES PER COLUMN
Code                                59
Year                                59
Hospital beds (per 1,000 people)    34
dtype: int64

 DUPLICATE ROWS FOUND: 0

 SUMMARY STATISTICS
             Entity Code    Year  Hospital beds (per 1,000 people)  \
count           194  135   135.0                        160.000000
unique          194  135     NaN                               NaN
top     Afghanistan  AFG     NaN                               NaN
freq              1    1     NaN                               NaN
mean            NaN  NaN  2019.0                          3.016125
std             NaN  NaN     0.0                          2.713317
min             NaN  NaN  2019.0                          0.170000
25%             NaN  NaN  2019.0                          1.165000
50%             NaN  NaN  2019.0                          2.395000
75%             NaN  NaN  2019.0                          4.140000
max             NaN  NaN  2019.0                         22.020000

               time
count    194.000000
unique          NaN
top             NaN
freq            NaN
mean    2018.716495
std        0.995865
min     2014.000000
25%     2019.000000
50%     2019.000000
75%     2019.000000
max     2020.000000
---------------------------

PROCESSING data/country_stat/unemployment.csv
                                         Series Name     Series Code  \
0  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS
1  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS
2  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS
3  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS
4  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS

     Country Name Country Code 2019 [YR2019]
0     Afghanistan          AFG        11.185
1         Albania          ALB        11.466
2         Algeria          DZA        12.259
3  American Samoa          ASM            ..
4         Andorra          AND            ..

 DATA TYPES & MISSING VALUES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    217 non-null    object
 1   Series Code    217 non-null    object
 2   Country Name   217 non-null    object
 3   Country Code   217 non-null    object
 4   2019 [YR2019]  217 non-null    object
dtypes: object(5)
memory usage: 8.6+ KB
None

 MISSING VALUES PER COLUMN
Series([], dtype: int64)

 DUPLICATE ROWS FOUND: 0

 SUMMARY STATISTICS
                                              Series Name     Series Code  \
count                                                 217             217
unique                                                  1               1
top     Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS
freq                                                  217             217

       Country Name Country Code 2019 [YR2019]
count           217          217           217
unique          217          217           183
top     Afghanistan          AFG            ..
freq              1            1            30
---------------------------

PROCESSING data/country_stat/political_regime.csv
        Entity Code  Year  Political regime  time
0  Afghanistan  AFG  2019                 1  2019
1      Albania  ALB  2019                 2  2019
2      Algeria  DZA  2019                 1  2019
3       Angola  AGO  2019                 1  2019
4    Argentina  ARG  2019                 2  2019

 DATA TYPES & MISSING VALUES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Entity            174 non-null    object
 1   Code              174 non-null    object
 2   Year              174 non-null    int64
 3   Political regime  174 non-null    int64
 4   time              174 non-null    int64
dtypes: int64(3), object(2)
memory usage: 6.9+ KB
None

 MISSING VALUES PER COLUMN
Series([], dtype: int64)

 DUPLICATE ROWS FOUND: 0

 SUMMARY STATISTICS
             Entity Code    Year  Political regime    time
count           174  174   174.0        174.000000   174.0
unique          174  174     NaN               NaN     NaN
top     Afghanistan  AFG     NaN               NaN     NaN
freq              1    1     NaN               NaN     NaN
mean            NaN  NaN  2019.0          1.637931  2019.0
std             NaN  NaN     0.0          0.950174     0.0
min             NaN  NaN  2019.0          0.000000  2019.0
25%             NaN  NaN  2019.0          1.000000  2019.0
50%             NaN  NaN  2019.0          2.000000  2019.0
75%             NaN  NaN  2019.0          2.000000  2019.0
max             NaN  NaN  2019.0          3.000000  2019.0
---------------------------

PROCESSING data/country_stat/gini_index.csv
      Entity Code    Year  Gini coefficient  990179-annotations  time
0    Albania  ALB  2019.0          0.301158                 NaN  2019
1    Algeria  NaN     NaN               NaN                 NaN  2019
2     Angola  NaN     NaN          0.512640                 NaN  2018
3    Armenia  ARM  2019.0          0.300312                 NaN  2019
4  Australia  NaN     NaN          0.343326                 NaN  2018

 DATA TYPES & MISSING VALUES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Entity              169 non-null    object
 1   Code                77 non-null     object
 2   Year                77 non-null     float64
 3   Gini coefficient    147 non-null    float64
 4   990179-annotations  0 non-null      float64
 5   time                169 non-null    int64
dtypes: float64(3), int64(1), object(2)
memory usage: 8.1+ KB
None

 MISSING VALUES PER COLUMN
Code                   92
Year                   92
Gini coefficient       22
990179-annotations    169
dtype: int64

 DUPLICATE ROWS FOUND: 0

 SUMMARY STATISTICS
         Entity Code    Year  Gini coefficient  990179-annotations  \
count       169   77    77.0        147.000000                 0.0
unique      169   77     NaN               NaN                 NaN
top     Albania  ALB     NaN               NaN                 NaN
freq          1    1     NaN               NaN                 NaN
mean        NaN  NaN  2019.0          0.367931                 NaN
std         NaN  NaN     0.0          0.075427                 NaN
min         NaN  NaN  2019.0          0.232323                 NaN
25%         NaN  NaN  2019.0          0.311884                 NaN
50%         NaN  NaN  2019.0          0.353599                 NaN
75%         NaN  NaN  2019.0          0.415596                 NaN
max         NaN  NaN  2019.0          0.630258                 NaN

               time
count    169.000000
unique          NaN
top             NaN
freq            NaN
mean    2018.479290
std        1.581473
min     2014.000000
25%     2018.000000
50%     2019.000000
75%     2019.000000
max     2022.000000
---------------------------

PROCESSING data/country_stat/population_density.csv
        Entity Code  Year  Population density  time
0  Afghanistan  AFG  2019           58.041070  2019
1      Albania  ALB  2019          105.292410  2019
2      Algeria  DZA  2019           18.177690  2019
3      Andorra  AND  2019          162.746810  2019
4       Angola  AGO  2019           25.969065  2019

 DATA TYPES & MISSING VALUES
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Entity              200 non-null    object
 1   Code                200 non-null    object
 2   Year                200 non-null    int64
 3   Population density  200 non-null    float64
 4   time                200 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 7.9+ KB
None

 MISSING VALUES PER COLUMN
Series([], dtype: int64)

 DUPLICATE ROWS FOUND: 0

 SUMMARY STATISTICS
             Entity Code    Year  Population density    time
count           200  200   200.0          200.000000   200.0
unique          200  200     NaN                 NaN     NaN
top     Afghanistan  AFG     NaN                 NaN     NaN
freq              1    1     NaN                 NaN     NaN
mean            NaN  NaN  2019.0          294.578268  2019.0
std             NaN  NaN     0.0         1414.506600     0.0
min             NaN  NaN  2019.0            0.136699  2019.0
25%             NaN  NaN  2019.0           31.278362  2019.0
50%             NaN  NaN  2019.0           84.848432  2019.0
75%             NaN  NaN  2019.0          209.366408  2019.0
max             NaN  NaN  2019.0        18297.025000  2019.0
---------------------------

PROCESSING data/country_stat/median-age.csv
        Entity Code  Year  \
0  Afghanistan  AFG  2019
1      Albania  ALB  2019
2      Algeria  DZA  2019
3      Andorra  AND  2019
4       Angola  AGO  2019

   Median age - Sex: all - Age: all - Variant: estimates  \
0                                             16.234
1                                             34.708